/* main colours */

:root {
    --grey-light: #F7F9FB;
    --blue-light: #8FC1E3;
    --blue-middle: #5085A5;
    --blue: #31708E;
    --green: #687864;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 0px;
    margin: 0px;
    text-align: center;
    /* background-color: var(--blue-light); */
}

.bg-img {
    background-size: cover;
    width: 100%;
    height: 70%;
    display: flex;
    z-index: -1;
}

.text-img {
    top: 50%;
    position: absolute;
    left: 22%;
    transform: translate(-50%, -50%)
}

.text-img h1 {
    color: var(--blue);
}

.NHS-design {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-light);
    height: 100%;
}

.img-btns {
    margin-left: 100px;
    margin-right: 40px;
    height: 100%;
    object-fit: cover;
    margin-top: 100px;
}

.buttons-text {
    max-width: 400px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    object-fit: cover;
    padding-top: 85px;
}

.welcome-text {
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-left: 350px;
    padding-bottom: 70px;
}

.avatar-pic1 {
    width: 100px;
    padding-top: 15px;
}

.avatar-pic2 {
    width: 100px;
    height: 100%;
    padding-top: 15px;
}

.buttons {
    margin: 100px 0;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px;
    padding: 15px 15px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.btn-2 {
    background-color: black;
    color: white;
    width: 220px;
    margin-top: 10px;
    transition: .8s;
}

.btn-2:hover {
    background-color: var(--green);
    color: black;
    width: 220px;
    margin-top: 10px;
    border-radius: 40px;
    transition: .5s;
}

.btn-1 {
    background-color: white;
    color: black;
    width: 220px;
    margin-top: 10px;
    margin-right: 20px;
    transition: .8s;
}

.btn-1:hover {
    background-color: var(--green);
    color: white;
    width: 220px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 40px;
    transition: .5s;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}









