
:root {
    --grey-light: #F7F9FB;
    --blue-light: #8FC1E3;
    --blue-middle: #5085A5;
    --blue: #31708E;
    --green: #687864;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 0px;
    margin: 0px;
    text-align: center;
    /* background-color: var(--blue-light); */
}

.bg-img {
    background-size: cover;
    width: 100%;
    height: 70%;
    display: flex;
    z-index: -1;
}

.text-img {
    top: 50%;
    position: absolute;
    left: 22%;
    transform: translate(-50%, -50%)
}

.text-img h1 {
    color: var(--blue);
}

.NHS-design {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-light);
    height: 100%;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 80px;
}

.buttons-text {
    max-width: 400px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    object-fit: cover;
    padding: 44px 0;
}

.btn1 {
    width: 50%;
    display: inline-block;
    background-color: var(--blue-light);
    margin: 0;
    height: auto;
}

.btn2 {
    width: 49.3%;
    display: inline-block;
    background-color: var(--blue-light);
    float: left;
    height: auto;
}

.welcome-text {
    display: contents;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-left: 350px;
    padding-bottom: 70px;
}

.avatar-pic1 {
    width: 100px;
    padding-top: 15px;
}

.avatar-pic2 {
    width: 100px;
    height: 100%;
    padding-top: 15px;
}

.buttons {
    margin: 100px 0;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px;
    padding: 15px 15px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.btn-2 {
    background-color: var(--blue);
    color: white;
    width: 220px;
    transition: .8s;
}

.btn-2:hover {
    background-color: var(--blue-light);
    color: black;
    /* width: 220px; */
    border-radius: 50px;
    transition: .5s;
}

.btn-1 {
    background-color: white;
    color: black;
    width: 220px;
    margin-right: 20px;
    transition: .8s;
}

.btn-1:hover {
    background-color: var(--blue-light);
    color: white;
    width: 220px;
    margin-right: 20px;
    border-radius: 50px;
    transition: .5s;
}

u {
    color: var(--grey-light);
}

.info {
    background-color: white;
    width: 50%;
    text-align: center;
    justify-content: center;
}

.contain {
    width: 100%;
    display: flex;
    /* background-color: var(--blue-light); */
    border-top: 1.5px solid var(--blue);
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.information {
    font-family: 'Times New Roman', Times, serif;
    width: 70%;
    font-size: 1.7rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17%;
}

.img-btns {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

hr {
    background-color: aquamarine;
    margin: 0;
}









