/* main colours */

:root {
    --grey-light: #F7F9FB;
    --blue-light: #8FC1E3;
    --blue-middle: #5085A5;
    --blue: #31708E;
    --green: #687864;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: var(--blue-light);
}

*{
  box-sizing: border-box;
}

header{ 
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10rem;
  padding-bottom: 1rem;

}

header logo{
  height: 100%;

}

nav {
  padding: auto;
  width: 80%;
  /* background-color: yellow; */
}

nav .bar{
  width: 100%;
  padding: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  font-weight: 500;
  font-size: 1.4rem;
  /* align-items: baseline; it does not work */
  gap: 1rem;
}

.libar {
  width: auto;
  text-decoration: none;
  list-style: none; 
  display: block;
  align-content: center;
  padding: 0.60rem;
  /* border: 1px solid var(--grey-light); */
  /* color: var(--blue) ; */
  /* background-color: var(--grey-light); */
  border-radius: 19%;
}

.hd {
  width: 100%;
  text-decoration: none;
  border: none;
}

.bar :hover {
  background-color: rgb(210, 240, 250); 
}
/* last item fromo header */


/* body start here */

/* a {
    color: rgb(123, 123, 123);
    text-decoration: none;
}

a:hover {
    color: orangered;
}

.nav-text {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 15px 100px;
}

.gap-list {
    width: 100px;
}

.bg-img {
    background-size: cover;
    width: 100%;
    height: 70%;
    display: flex;
    z-index: -1;
} */

.text-img {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%)
}

.background-img {
    position: relative;
}

h1,
p {
    color: white;
}

.text-img button {
    background-color: orangered;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.section-down h1 {
    justify-content: center;
}

.device-img,
.coffee-img,
.refill-img {
    width: 100px;
    height: 100px;
}

.section-down {
    justify-content: center;
    align-content: center;
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.part-two {
    color: black;
    padding-top: 30px;
    font-size: 30px;
    font-weight: lighter;
}

.section-down h3 {
    font-size: 10px;
} */


/* 

Footer
/* ul {
    margin: 0px;
    padding: 0px;

} */
.footer-section {
  background: #687864;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta  {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #ff5e14;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #ff5e14;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  /* float: left; */
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: white;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
/* .subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0; */
}
/* .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
} */


/* Karma design */

.karma-design {
    /* width: 100%; */
    display: flex;
    background-color: var(--blue-light);
    margin: 50px 0 20px 0;
    height: 100%;
}

.img-karma {
    margin-left: 100px;
    margin-right: 40px;
    height: 100%;
    object-fit: cover;
    margin-top: 100px;
}

/* .karma-img {
    background-color: blue;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.karma-text {
    text-align: center;
    justify-content: right;
    align-content: center;
    width: 40%;
    height: 100%;
    object-fit: cover;
    padding-left: 150px;
    padding-top: 85px;
}

.karma-text>h4 {
    justify-content: center;
    font-size: 35px;
    font-weight: lighter;
}

.karma-btn {
    background-color: rgb(255, 111, 58);
    color: white;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* .karma-btn:hover {
    background-color: white;
    color: rgb(255, 111, 58);
    border: 2px solid rgb(255, 111, 58);
    ;
} */

.quotationMarks {
    color: var(--grey-light);
}

.welcome-text {
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-left: 300px;
    padding-bottom: 70px;
} 